<h1></h1>
<table class="table table-hover table-border">
    <thead>
        <tr>
            <th>#</th>
            <th>Hoster</th>
            <th>Work name</th>
            <th>Skill</th>
            <th>Price</th>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        <% if !@works.nil?
          @works.each_with_index do |work, index| %>
            <tr>
                <td><%= index+1 %> </td>
                <td><%= work.user.fullname%> </td>
                <td><%= work.name %></td>
                <td><%= work.categories.name  %> </td>
                <td><%= work.price %> $</td>
                <td><%= link_to 'View detail', '/works/'+(work.id.to_s), class: "btn btn-lg btn-primary" %></td>
              </tr>
            <% end
          end%>
      </tbody>
  </table>