<% provide(:title, @work.name) %>
<div class="row">
    <aside class="col-md-4">
        <section class="work_info">
            <h1>
                Name:
            </h1>
            <%= @work.name %>
            <h1>
                Skill Require:
            </h1>
            <% @work.categories.each do |category| %>
              <%= category.name %>
            <%  end %>
            <h1>
                Description:
            </h1>
            <%= @work.description %>
            <h1>
                Price:
            </h1>
            <%= @work.price %>
            <%= form_for(@joiner, url: joiners_path) do |f|  %>
              <%= f.hidden_field :work_id, :value =>@work.id %>
              <%= f.hidden_field :user_id, :value =>current_user[:id] %>
              <%= f.submit "Join work", class: "btn btn-primary col-md-3" %>
              <% end %>
          </section>

      </aside>

  </div>

